body {
	top: 10px;
	bottom: 5px;
    font-family: Verdana,sans-serif;
	margin:0;
}
header {
  min-height: 60px;
  position: fixed;
  height:120px;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ECECEC;
}

.navbar {
	background-color: #333;
	position: fixed;
	top: 85px;
	width: 100%;
	float:left;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;

}

}
.logo{
	float:left;
	display:inline;
	width: 10px;
}
}
.info {
	display:inline-block;
}
.sup{
	float:left;
	margin-left:80px;
	max-width: 500px;
	display:inline;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.logo img {
	padding:10px;
	max-width: 65px;
}


footer {
	padding: 10px;
	color: white;
	background-color: black;
}

section {
	margin: 50px;
	padding: 10px;
	background-color: lightgrey;
}

article {
	margin: 10px;
	padding: 2px;
	background-color: white;
}

h1, h2, h3, h4, h5 {
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 5px;
}