      body {
          font-family: Verdana,sans-serif;
          font-size: 0.9em;
      }

      header  {
          position: relative;
          width: 1220px;
          max-width: 90%;
          height: 120px;
          top: 0px;
          right: 0px;
          left: 0px;
          margin: 0px auto;
          color: white;
          background-color: black;
      }
      header aside {
          position: absolute;
          width: 120px;
          top: 0px;
          bottom: 0px;
          left: 0px;

      }
      .logo img {
            max-width: 100px;
            }

      header section{
          position: absolute;
          top: 60px;
          right: 0px;
          bottom: 0px;
          left: 120px;
      }


      footer {
          padding: 10px;
          color: white;
          background-color: black;

      }

      section {
          margin: 50px;
          padding: 10px;
          background-color: lightgrey;

      }

      article {
          margin: 10px;
          padding: 2px;
          background-color: white;
      }

      h1, h2, h3, h4, h5 {
          padding: 0;
      }

      nav ul li {
          display: inline;
          margin: 5px;
      }